<h3>Create Invoice</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="amount_of_money">Amount Of Money</label>
    <input type="text" class="form-control" id="amount_of_money" required [(ngModel)]="invoice.amountOfMoney" name="amountOfMoney">
  </div>

  <div class="form-group">
    <label for="VAT">VAT</label>
    <input type="text" class="form-control" id="vat" required [(ngModel)]="invoice.VAT" name="VAT">
  </div>
  <div class="form-group">
    <label for="created_at">Created At:</label>
    <input type="text" class="form-control" id="created_at" required [(ngModel)]="invoice.createdAt" name="created_at">
  </div>
  <div class="form-group">
    <label for="updated_at">Updated At:</label>
    <input type="text" class="form-control" id="updated_at" required [(ngModel)]="invoice.updatedAt" name="updated_at">
  </div>

  <div class="form-group">
    <label for="limit">Limit</label>
    <input type="text" class="form-control" id="limit" required [(ngModel)]="invoice.limit" name="limit">
  </div>
  <div class="form-group">
    <label for="chargedPeriod">Charged Period</label>
    <input type="text" class="form-control" id="charged_period" required [(ngModel)]="invoice.chargedPeriod" name="charged_period">
  </div>

  <div class="form-group">
    <label for="typeOfInvoice">Type Of Invoice</label>
    <input type="text" class="form-control" id="type_of_invoice" required [(ngModel)]="invoice.typeOfInvoice" name="type_of_invoice">
  </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newInvoice()">Add</button>
</div>