@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Major+Mono+Display|Montserrat|Special+Elite');

.ff{
  background-image: url(src\assets\img\bg-2.jpg);
  width: 100%;
  height: 560px;
  background-repeat: no-repeat;
}

.bg-1{
  background-image: url(src\assets\img\bg-2.jpg);
  width: 100%;
  height: 560px;
  background-repeat: no-repeat;
}

.all {
  border: 1px solid black;
  padding: 60px 50px;
  margin-left: 36%;
  margin-top: 5%;
  color: black;
}

.all label {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 2px;
}

.all p{
  font-family: 'Rubik', sans-serif;
}

.btn{
  font-family: 'Coiny', cursive;
  letter-spacing: 2px;
  padding: 7px 30px;
}

.btn:hover{
  transition: all 0.3s;
}

.logged {
  background-image: url(src\assets\img\login-required.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  position: relative;
}

.head {
  position: absolute;
  top: 80px;
  left: 32%;
}

.head h1{
  font-family: 'Special Elite', cursive;
  color: white;
  letter-spacing: 3px;
}
