<div *ngIf="invoice">
  <div>
    <label>Amount of Money: </label> {{invoice.amount}}
  </div>

  <div>
    <label>VAT: </label> {{invoice.VAT}}
  </div>

  <div>
    <label>Created At: </label> {{invoice.createdat}}
  </div>

  <div>
    <label>Charged Period: </label> {{invoice.chargedperiod}}
  </div>

  <div>
    <label>Limit: </label> {{invoice.limit}}
  </div>

  <div>
    <label>Type Of Invoice: </label> {{invoice.type}}
  </div>
  
  <div>
    <label>User ID: </label> {{invoice.userid}}
  </div>

  <span class="button is-small btn-danger" (click)='deleteInvoice()'>Delete</span>
 
  <hr/>
  
</div>