<h3>Create An Invoice</h3>
<div [hidden]="submitted" style="width: 300px;">

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field class="form">
        <input matInput placeholder="Amount Of money" type="number" required [(ngModel)]="invoice.amount" name="amount">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="form">
        <input matInput placeholder="VAT" type="number" required [(ngModel)]="invoice.VAT" name="VAT">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" required [(ngModel)]="invoice.createdat"
          name="createdat">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="form">
        <input matInput placeholder="Limit" type="number" required [(ngModel)]="invoice.limit" name="limit">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="form">
        <input matInput placeholder="Charged Period" type="number" required [(ngModel)]="invoice.chargedperiod" name="chargedperiod">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Type of Invoices">
          <mat-option *ngFor="let invoice of arrayinvoices" [value]="invoice.id" >
            {{invoice.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </form>
</div>
<button mat-raised-button color="accent">Submit </button>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newInvoice()">Add</button>
</div>