body{
  margin: 0;
  padding: 0;
}

.head h1{
  color: white;
  font-size: 80px;
  line-height: 400px;
  font-family: 'Libre Barcode 128 Text', cursive;
}

.head a{
  border: 1px solid white;
  padding: 10px 60px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}

.head a:hover{
  background-color: white;
  color: black;
  transition: all 0.4s;
}

.bg-1{
  background-image: url(src\assets\img\bg-2.jpg);
  width: 100%;
  height: 560px;
  background-repeat: no-repeat;
}
