
<!----------------------------ddd-------------------------------->
<div *ngIf="isSignedUp; else invoiceForm">
  Create invoice is successful.
</div>


<ng-template #invoiceForm>
<div class="container">

  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label for="date"></label>
                <!-- <div class="input-group date" data-provide="datepicker"  data-date-format="yyyy-mm-dd"> -->
                    <input type="date" class="form-control input-lg" name="date" [(ngModel)]="form.date" #date="ngModel"
                    required placeholder="Date"/>
                    <!-- <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                  </div> -->
                <!-- </div> -->

            </div>
          <div *ngIf="f.submitted && date.invalid">
            <div *ngIf="date?.errors.required" class="text-danger">Please choose the day</div>
          </div>
        </div>


          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label for="type"></label>
                <!-- <input type="text" class="form-control input-lg" name="i_type" [(ngModel)]="form.i_type" #i_type="ngModel"
                  required placeholder="Type"/> -->

                <select class="form-control input-lg" name="i_type" [(ngModel)]="form.i_type" #i_type="ngModel" aria-placeholder="Type">
                    <option value="Electric">Electric</option>
                    <option value="Water">Water</option>
                    <option value="Network">Network</option>
                  </select>
                  <div *ngIf="f.submitted && i_type.invalid">
                      <div *ngIf="i_type?.errors.required" class="text-danger">Type is required</div>
                    </div>
              </div>
          </div>
        </div>
        <!-- <div class="form-group">
            <label for="vat"></label>
            <input type="text" class="form-control input-lg" placeholder="VAT" name="vat" [(ngModel)]="form.vat" #vat="ngModel" required/>
            <div *ngIf="f.submitted && vat.invalid" >
              <div *ngIf="vat?.errors.required" class="text-danger">VAT is required</div>
            </div>
        </div> -->
        <div class="form-group">
            <label for="grand_total"></label>
            <input type="text" class="form-control input-lg" name="grandTotal" [(ngModel)]="form.grandTotal" #grandTotal="ngModel" required placeholder="Limit"/>
            <div *ngIf="f.submitted && grandTotal.invalid" >
              <div *ngIf="grandTotal?.errors.required" class="text-danger">Grand is required</div>
            </div>
        </div>
        <div class="form-group">
          <label for="total"></label>
          <input type="text" class="form-control input-lg" name="total" [(ngModel)]="form.total" #total="ngModel" required placeholder="Total"/>
          <div *ngIf="f.submitted && total.invalid" >
            <div *ngIf="total?.errors.required" class="text-danger">Total is required</div>
          </div>
      </div>

        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-12"><input type="submit" value="Create" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  </div>
  <script type="text/javascript">
    $(".date").datetimepicker({format: 'yyyy-mm-dd'});
</script>
</ng-template>

